/.vs
/ElectronicDiary.DesktopClient/obj
/ElectronicDiary.DesktopClient/bin
/ElectronicDiary.Models/obj
/ElectronicDiary.Models/bin
/ElectronicDiary.SchoolDayStorage/bin
/ElectronicDiary.SchoolDayStorage/obj
